.container {
  min-height: calc(100vh - 127px - 142px);
  padding-inline: 40px;
  padding-bottom: 40px;
}

.container__background {
  position: absolute;
  top: calc(100vh - calc(100vh - 127px));
  left: 0;
  right: 0;
  bottom: calc(100vh - calc(100vh - 102px));
  z-index: -10;
}

.container__background-blue {
  position: fixed;
  width: 120%;
  height: 120%;
  z-index: -1;
  top: -45%;
  right: -55%;
  opacity: 0.4;
  background: radial-gradient(circle, #003399 0%, rgba(233,222,148,0) 45%);
}

.container__background-orange {
  position: fixed;
  width: 120%;
  height: 120%;
  z-index: -1;
  bottom: -50%;
  left: -55%;
  opacity: 0.4;
  background: radial-gradient(circle, rgba(236,112,0,1) 0%, rgba(233,222,148,0) 45%);
}

.container__table {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__message {
  font-size: 20px;
}

.container__message-error {
  color: red;
}
