.input__form {
  display: flex;
  gap: 10px;
  padding-block: 40px;
  flex-wrap: wrap;
}

.input__field {
  box-sizing: border-box;
  width: 90%;
  min-width:fit-content;
  padding-inline: 20px;
  padding-block: 10px;
  border: 2px solid #ec7000;
  border-radius: 50px;
  font-size: 16px;
  transition: all linear 0.3s;
}

.input__field:focus {
  transition: all linear 0.3s;

  box-shadow: 0 0 15px 1px rgba(236,112,0,0.4);
  outline: none;
}

.input__select {
  border: 2px solid #ec7000;
  border-radius: 50px;
  font-size: 16px;
  width: 5%;
  min-width:fit-content;
  padding-inline: 10px;
  cursor: pointer;
  transition: all linear 0.3s;
}

.input__select:focus {
  transition: all linear 0.3s;
  box-shadow: 0 0 15px 1px rgba(236,112,0,0.4);
  outline: none;
}

option {
  box-shadow: 0 0 15px 1px rgba(236,112,0,0.4);
}

.button {
  box-sizing: border-box;
  pointer-events: all;
  border: none;
  width: 10%;
  min-width:fit-content;
  transition: all linear 0.3s;
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid #ec7000;
  color: #ec7000;
  font-size: 16px;
  font-weight:600;
  cursor: pointer;
  transition: all linear 0.3s;
}

.button--disabled {
  pointer-events: none;
}

.button:hover {
  transition: all linear 0.3s;
  background-color: #ec7000;
  color: #fff;
  box-shadow: 0 0 15px 1px rgba(236,112,0,0.4);
  border: none;
}

.button:active {
  background-color: #ff9838;
}

.input__count {
  align-self: center;
  background-color: #003399;
  color: #fff;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 50px;
}

@media (min-width: 1100px) {
  .input__form {
    display: flex;
    justify-content:space-between;
    padding: 40px;
  }

  .input__field {
    width: 60%;
  }
}
